* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html, body {
    overflow-x: hidden; /* Prevent horizontal scroll */
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #ffffff;
}

.heading {
    font-size: clamp(9.5rem, calc(12vw + 1rem), 20rem);
    margin-left: 0;
    margin-top: 3px;
    font-weight: 900;
    animation: slideRight 1.2s ease forwards;
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.switch {
    position: fixed;
    right: 7%;
    top: 78%;
    z-index: 35;
}

sl-switch::part(base) {
    background-color: rgba(255,255,255, 0.03);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1.5em;
    border-radius: 1.3em;
}

sl-switch::part(thumb) {
    background-color: white;
}

.Intro-content {    
    padding-left: 4%;
}

article {
    font-size: 2vw;
}

.purpose {
    background-color: rgba(255,255,255, 0.03);
    margin-top: 2vw;
    border: solid #b7b7b7 2px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: min(700px, 90vw);
    border-radius: clamp(12px, 2vw, 32px);
    padding: clamp(0.5rem, 1.7vw, 1rem);
    animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.what-ml {
    background-color: rgba(255,255,255, 0.03);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 20px;   
    margin-left: auto;
    width: min(90vw, 600px);
}

.page-two {
    display: flex;
    margin-top: 23%;
}

.page-menu {
    margin-top: 7%;
    margin-left: 2%;
    z-index: 20;
}

.ml-menu {
    text-decoration: none;
    margin-bottom: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: clamp(0.2rem, 4vw, 4.5rem);
    z-index: 20;
    transition: transform .3s ease-in-out;
}

.ml-menu:hover {
    transform: translateY(-20px);
}

.overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #2f2f2f, #000000);
    mix-blend-mode: soft-light;
    opacity: 97%;
    z-index: 15;
}

.play-buttons {
    position: fixed;

    top: 81%;
    left: clamp(0.75rem, 2vw, 2rem);

    transform: translateY(-50%);

    display: flex;
    gap: clamp(0.5rem, 1vw, 1rem);

    z-index: 38;
}

.forward-button,
.backward-button {
    background: rgba(255,255,255,0.03);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border: none;
    border-radius: 999px;

    cursor: pointer;

    color: white;

    font-size: clamp(2rem, 5vw, 4.5rem);

    width: clamp(3rem, 6vw, 5rem);
    height: clamp(3rem, 6vw, 5rem);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;

    object-fit: cover;
    object-position: center;

    z-index: -1;
}

/* Robot container */
.robot-head {
    z-index: 14;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.robot-front,.robot-back {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.robot-front {
    z-index: -12;
    width: 30%;
    height: auto;
}

.robot-back {
    z-index: -13; /*This gives a feel that the robot back is behind the robot front*/
    width: 11.5%;
    top: 47%;
    height: auto;
}

.robot-brain-f, .robot-brain-m, .robot-brain-b{
    pointer-events: auto;
    opacity: 0;
    mix-blend-mode: luminosity;
    filter:brightness(1.2);
    position: absolute;
}

.robot-brain-f {
    z-index: -15;
    width: 30%;
    right: 9%;
    top: 12%;
    cursor: pointer;
}

.robot-brain-m {
    z-index: -16;
    width: 30%;
    right: 9%;
    top: 12%;
    cursor: pointer;
}

.robot-brain-b {
    z-index: -17;
    width: 14%;
    right: 11%;
    top: 12%;
    cursor: pointer;
}

.text-ai {
    position: absolute;
    z-index: -16;
    font-size: 25px;
    font-weight: 700;
    text-shadow: /*this text-shadow was suggested to me by AI when I asked it how to make the text glow*/
        0 0 10px rgb(255, 255, 255), 
        0 0 20px rgb(255, 255, 255), 
        0 0 30px rgb(255, 255, 255); 
    right: 39%;
    top: 29%;
}

.text-ml {
    opacity: 0;
    position: absolute;
    z-index: -14;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 
        0 0 10px rgb(255, 255, 255), 
        0 0 20px rgb(255, 255, 255), 
        0 0 30px rgb(255, 255, 255); 
    right: 17%;
    top: 29%;
}

.types-ml {
    font-size: clamp(1.5rem, 4vw, 4.5rem);
    margin-right: 60%;
    margin-left:1%;
    margin-top: 21%;
}

.super, .unsuper, .reinforce {
    opacity: 0;
    position: absolute;
    font-size: 30px;
    text-shadow: 
        0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255);
    z-index: 1; 
}

.super {
    cursor: pointer;
    top: 38%;
    right: 25%;
    padding: 30px;
    transition: transform .4s ease-in-out;
}
.super:hover {
    transform: translateY(-15px);
}

.unsuper {
    top: 27%;
    right: 11.3%;
    padding: 30px;
    cursor: pointer;
    transition: transform .4s ease-in-out;
}
.unsuper:hover {
    transform: translateY(-15px);
}

.reinforce {
    top: 20%;
    right: -1%;
    cursor: pointer;
    padding: 30px;
    transition: transform .4s ease-in-out;
}
.reinforce:hover {
    transform: translateY(-15px);
}

.glow-ray-m {
    position: absolute;
    top: 21%;
    right: 21%;
    width: 5px; /*Thin width*/
    background: white;
    filter: brightness(10);/* makes it glow */
    z-index: -18; /* behind brain but above background */
    height: 0; /* initial height */
}

#page-three {
    margin-top: clamp(6rem, 10vw, 10rem);
}

/* PAGE FOUR */

#page-four {
    margin-top: 84.5%;
    min-height: 100vh;
    margin-left: clamp(1rem, 3vw, 3rem);

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    gap: clamp(2rem, 3vw, 10rem);

    padding: clamp(1rem, 4vw, 5rem);
}

.what-genai {
    max-width: 450px;
}

.what-genai h2 {
    font-size: clamp(1.8rem, 3vw, 3rem);
    margin-bottom: 1rem;
}

.what-genai p {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    line-height: 1.7;
}

.genO {
    width: clamp(10px, 25vw, 650px);
    aspect-ratio: 1;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255,255,255,0.03);
    backdrop-filter: blur(8px);

    border: 1px solid rgba(255,255,255,0.15);
}

.genai {
    cursor: pointer;
    margin: 0;

    font-size: clamp(3rem, 3vw, 7rem);

    font-weight: 600;
    letter-spacing: 0.05em;
}

/* PAGE FIVE */

#page-five {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: clamp(2rem, 4vw, 5rem);

    gap: clamp(2rem, 4vw, 5rem);
}

.gen-eg {
    font-size: clamp(1.2rem, 2vw, 2rem);

    max-width: 900px;

    text-align: center;

    line-height: 1.5;
}

.io {
    display: flex;

    align-items: center;

    justify-content: center;

    gap: clamp(1rem, 5vw, 5rem);

    width: 100%;
}

.eg-g, .output-g {
    width: clamp(220px, 25vw, 420px);

    aspect-ratio: 1;

    border-radius: 50%;

    background: rgba(255,255,255,0.03);

    backdrop-filter: blur(8px);

    border: 1px solid rgba(255,255,255,0.15);

    position: relative;
}

.wall {
    width: 4px;

    height: clamp(150px, 20vw, 300px);

    background: #ffffff4d;
}

.io-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 320px;
}

.nav-i,
.nav-o {
    margin-top: 1.5rem;

    font-size: clamp(1.2rem, 2vw, 2rem);

    text-align: center;
}

.input-p,
.output-p {
    margin-top: 1rem;

    font-size: clamp(1rem, 1.2vw, 1.4rem);

    line-height: 1.5;

    text-align: left;
}

.input-p, .output-p {
    max-width: 300px;

    text-align: center;

    font-size: clamp(1rem, 1.5vw, 1.4rem);

    line-height: 1.6;
}

.eg-g {
    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
}

.in-obj {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.in-obj img {
    height: clamp(60px, 8vw, 120px);
    width: auto;
}

.output-g {
    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;
}

.shoe-button {
    margin-top: 4rem;
}

/* Carousel Thumbnails Styles */

.carousel-thumbnails::part(navigation-button) {
    background: white;
    color: black;

    border: 4px solid white;
    border-radius: 50%;

    width: 2.5rem;
    height: 2.5rem;
}

.thumbnails {
    display: flex;
    justify-content: center;
}

.thumbnails__scroller {
    display: flex;
    gap: var(--sl-spacing-small);
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-padding: var(--sl-spacing-small);
}

.thumbnails__scroller::-webkit-scrollbar {
    display: none;
}

.thumbnails__image {
    width: 64px;
    height: 64px;
    object-fit: cover;

    opacity: 0.3;
    will-change: opacity;
    transition: 250ms opacity;

    cursor: pointer;
}

.thumbnails__image.active {
    opacity: 1;
    border: white solid 5px; /* to make it easy for user to see which image is selected */
}

.carousel-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);

    width: min(90vw, 1000px);

    z-index: 40;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity .4s ease,
                transform .4s ease,
                visibility .4s;
}

.carousel-container.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translate(-50%, -50%) scale(1);
}

.black-below {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.94);

    z-index: 39;

    opacity: 0;
    visibility: hidden;

    transition: opacity .4s ease;
}

.black-below.show {
    opacity: 1;
    visibility: visible;
}

@keyframes fadeIn {
    from { 
        opacity: 0; transform: translate(-50%, -45%);
    }
    to { 
        opacity: 1; transform: translate(-50%, -50%);
    }
}

/*4K*/
@media (max-width: 2561px) {

}

/*Laptop*/
@media (max-width: 1024px) {
    .purpose {
        margin-top: 50vh;
    }
}

/*Tablet*/
@media (max-width: 768px) {

    #page-four {
        flex-direction: column;
        text-align: center;
        margin-left: 0;
        margin-top: 131.5%;
    }

    .what-genai {
        order: 2;
    }

    .genO {
        order: 1;
        width: min(80vw, 450px);
    }

    .io {
        flex-direction: column;
    }

    .wall {
        width: 70%;
        height: 2px;
    }

    .purpose article {
        font-size: 4vw;
    }

    .what-ml article {
        font-size: 3vw;
    }

    .heading {
        font-size: clamp(3rem, 18vw, 10rem);
    }

    .page-two {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        column-gap: 2rem;
        row-gap: 2rem;

        align-items: start;

        margin-top: 103%;
        padding: 0 1rem;
    }

    .page-menu {
        grid-column: 1;
        grid-row: 1 / span 2;

        margin: 0;
    }

    .ml-menu {
        font-size: clamp(1rem, 5.5vw, 2.3rem);
        margin-bottom: 2rem;
    }

    .what-ml {
        grid-column: 2;
        grid-row: 2;

        width: 100%;
        margin: 0;
        padding: 0.7rem;

        margin-top: 13rem;
    }

    .what-ml article {
        font-size: clamp(0.9rem, 3vw, 2.7rem);
    }

    .what-ml h2 {
        display: none;
    }

    .text-ml {
        font-size: clamp(0.8rem, 2vw, 1rem);
        top: 40%;
        right: 18%;
    }

    .robot-front {
        width: 36%;
        right: 9%;
        top: 43%;
    }

    .robot-back {
        width: 14%;
        right: 9%;
        top: 41%;
    }

    .text-ai {
        font-size: 1.2rem;
        right: 42%;
    }
}